<% const nombreUsuario = nombre;%>
<%- include('menuProfesor', {username: nombreUsuario})%>
<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Proyecto</title>
</head>
<body>
    <table>
        <tr>
            <th>curso</th>
            <th>materia</th>
            <th>opciones</th>
        </tr>
        <%arrayCurso.forEach((curso)=>{%>
        <tr>
            <td><%=curso.nombreCurso%></td>
            <td><%=curso.materiaId.nombreMateria%></td>
            <td>
                <a href="/proyecto/verCursoP/<%=curso.idCurso%>"><button>ver</button></a>
            </td>
        </tr>
        <%})%>
    </table>
</body>
</html>