<%- include('menu')%>
<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Proyecto</title>
</head>
<body>
<div class="container">
    <h1>Bienvenido</h1>
    <p>En esta pagina podras encontrar algunos cursos de tu interes,</p>
    <p>solo tienes que buscar un tema e inscribirte.</p>
    <p>Para comenzar puedes dar clic en los <a href="">cursos disponibles</a></p>
</div>
</body>
</html>