<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Proyecto</title>
</head>
<style>
    button {
        width: 100%;
    }
    #form {
        border: #428bca 1px solid;
        border-radius: 5px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 20px auto;
    }
    h1 {
        text-align: center;
        padding-bottom: 20px;
    }
    #curso:hover{
        background-color: #5bc0de;
        border-radius: 5px;
        color: #ffffff;
        padding: 5px;
    }
</style>
<body>
<% const nombreUsuario = nombre;%>
<% const rolUsuario = rol;%>
<%if(rolUsuario==1){%>
    <%- include('menuProfesor', {username: nombreUsuario})%>
<%}else{%>
    <%- include('menu', {username: nombreUsuario})%>
<%}%>
<div id="form" class="container">
    <%if(rolUsuario==1){%>
        <h1>Bienvenido</h1>
        <p>Para comenzar puedes dar clic en <a id="curso" href="/proyecto/crearCurso">crear curso</a></p>
    <%}else{%>
            <h1>Bienvenido</h1>
            <p>En esta pagina podras encontrar algunos cursos de tu interes,</p>
            <p>solo tienes que buscar un tema e inscribirte.</p>
            <p>Para comenzar puedes dar clic en los <a href="/proyecto/cursosDisponibles">cursos disponibles</a></p>
    <%}%>
</div>
</body>
</html>