<% const nombreUsuario = nombre;%>
<%- include('menu', {username: nombreUsuario})%>
<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Proyecto</title>
</head>
<body>
<form action="/proyecto/busqueda" method="post">
    <div class="row">
        <div class="col-sm-9">
            <label for="buscar"></label>
            <input class="form-control" type="text" id="buscar" name="buscar" placeholder="Busqueda">
        </div>
        <div class="col-sm-3">
            <button class="btn btn-primary btn-block">Buscar</button>
        </div>
    </div>
</form>
<table>
    <tr>
        <th>curso</th>
        <th>materia</th>
        <th>opciones</th>
    </tr>
    <%arrayCurso.forEach((curso)=>{%>
    <tr>
        <td><%=curso.nombreCurso%></td>
        <td><%=curso.materiaId.nombreMateria%></td>
        <td>
            <a href="/proyecto/verCursoEst/<%=curso.idCurso%>"><button>ver</button></a>
        </td>
    </tr>
    <%})%>
</table>
</body>
</html>