<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>proyecto</title>
</head>
<body>
<div class="container">
    <form action="iniciarSesion" method="post">
        <label for="tipoUsuario">tipo de usuario</label>
        <select name="tipoUsuario" id="tipoUsuario">
            <option value="1">profesor</option>
            <option value="2">estudiante</option>
        </select>
        <br>
        <label for="usuario">usuario</label>
        <input type="text" id="usuario" name="usuario">
        <br>
        <label for="password">contraseña</label>
        <input type="password" id="password" name="password">
        <br>
        <button>iniciar sesion</button>
        <a href="registro"><button type="button">registrarse</button></a>
    </form>
</div>
</body>
</html>