<div class="container">
    <a href="crearCurso">crear curso</a>
    <a href="administrarCurso">administrar curso</a>
    <label for="username"><%=username%></label>
    <a href="logout">cerrar sesion</a>
</div>