<div class="container">
    <a href="cursosDisponibles">cursos disponibles</a>
    <a href="buscarCursos">buscar cursos</a>
    <a href="misCursos">mis cursos</a>
    <label for="username"><%=username%></label>
    <a href="logout">cerrar sesion</a>
</div>