<div class="container">
    <a href="/proyecto/cursosDisponibles">cursos disponibles</a>
    <a href="/proyecto/misCursos">mis cursos</a>
    <label for="username"><%=username%></label>
    <a href="/proyecto/logout">cerrar sesion</a>
</div>