<div class="container">
    <a href="/proyecto/crearCurso">crear curso</a>
    <a href="/proyecto/administrarCurso">administrar curso</a>
    <label for="username"><%=username%></label>
    <a href="/proyecto/logout">cerrar sesion</a>
</div>